<div data-thumbclick="'img/tentacle-nerve.png'" data-thumbclick-title="'Anatomy'">
  <div style="white-space:nowrap; font-size: 0">
    <img src="img/tentacle-nerve.png" width="50%"/>
    <img src="img/pleuro-neuro-photo-overlay.png" width="50%"/>
  </div>
</div>

<div class="textholder-content nicescroll">
  <p>
    The oral veil is innervated by two bilateral pairs of sensory nerves, the Large Oral Veil 
    Nerve (LOVN) and the Tentacle Nerve (TN). LOVN and TN collect sensory input from the 
    chemotactile papillae on the edge of the oral veil. Each single nerve only innervates half of 
    the oral veil, between medial sites and the lateral tentacle tip. Sensory information is sent 
    to the central turn motor network for motor patterning.
  </p>
  <p>
    Three critical points: 
    <ol>
      <li>
        LOVN spiking responses to sensory stimulation is greatest at the most medial sites and 
        declines toward tentacle tip. Conversely, TN sensitivity is greatest at the tentacle and 
        declines toward the median. 
      </li>
      <li>
        If two or more sites on the oral veil are stimulated simultaneously, both the turning 
        response and the spiking responses in LOVN and TN average the input. Thus, the responses 
        encode a most likely direction of the source for prey tracking and biting attack.
      </li>
      <li>
        Sensory inputs to either side of the oral veil are averaged in the peripheral nervous 
        system <em>before</em> being sent to the CNS. Bilateral sensory inputs are averaged 
        together in the CNS, in the turn network; but, on either side of the slug, multiple stimuli
        are integrated directly in the neural structures of the oral veil itself.
      </li>
    </ol>
  </p>
  
