<div data-thumbclick="'img/tentacle-nerve.png'" data-thumbclick-title="'Anatomy'">
  <div style="white-space:nowrap; font-size: 0">
    <img src="img/tentacle-nerve.png" width="50%"/>
    <img src="img/pleuro-neuro-photo-overlay.png" width="50%"/>
  </div>
</div>

<div class="textholder-content nicescroll">
  <p>
    The oral veil is lined with small bumps called "papillae". These papillae are home to dense
    concentrations of sensory neurons, which transcode physical contact and the presence of
    chemical molecules in the water into the sensory modalities of touch and olfaction. A slug 
    can have around two to three dozen papillae, which can be easily seen with the naked eye.
    These papillae run along the entire length of the oral veil, all the way to the "tentacles",
    the long tapering tips that give the oral veil a somewhat English-moustache-like look.
  </p>
  <p>
    Two bilateral pairs of sensory nerves innervate the oral veil: the Large Oral Veil 
    Nerve (LOVN) and the Tentacle Nerve (TN). The LOVN and the TN collect sensory input from the 
    chemotactile papillae on the edge of the oral veil. Each single nerve only innervates half of 
    the oral veil, between medial sites and the lateral tentacle tip. Sensory information is sent 
    to the central turn motor network for motor patterning.
  </p>
  <p>
    Three critical points: 
    <ol>
      <li>
        LOVN spiking responses to sensory stimulation is greatest at the most medial sites and 
        declines toward tentacle tip. Conversely, TN sensitivity is greatest at the tentacle and 
        declines toward the median. 
      </li>
      <li>
        If two or more sites on the oral veil are stimulated simultaneously, both the turning 
        response and the spiking responses in LOVN and TN average the input. Thus, the responses 
        encode a most likely direction of the source for prey tracking and biting attack.
      </li>
      <li>
        Sensory inputs to either side of the oral veil are averaged in the peripheral nervous 
        system <em>before</em> being sent to the CNS. Bilateral sensory inputs are averaged 
        together in the CNS, in the turn network; but, on either side of the slug, multiple stimuli
        are integrated directly in the neural structures of the oral veil itself.
      </li>
    </ol>
  </p>
</div>