<div data-thumbclick="'img/method-qtips.png'" data-thumbclick-title="'Behavior'">
  <video playsinline="" controls="" poster="img/method-qtips.png" style="width:100%">
    <source src="img/2pt-method-closeup-360p.mp4" type="video/mp4">
  </video>
</div>

<div class="textholder-content nicescroll">
  <p>
    The video illustrates the behavior under study: averaging more than one sensory input in the 
    turn and bite/strike. Here we see that animal’s oral veil is being stimulated with two 
    cotton-tipped applicators dipped in shrimp juice. The turn and bite response are directed 
    <em>in between</em> the stimuli.    
  </p>
  <img src="img/yafremava-mean-normalized-nerve-response.gif"
      style="float:right; width:30%; margin:1ex 1em;"/>
  <p>
    In 2011, Drs. Liudmila S. Yafremava and Rhanor Gillete measured the electrical activity of 
    the LOVN and TN nerves of live specimens under one-touch and two-touch scenarios, and 
    discovered that this 
    averaging calculation is performed in the peripheral nervous system, before the signal 
    even reaches the CNS.
    (<a target="_blank" href="http://jn.physiology.org/content/105/6/2885">
    Liudmila S. Yafremava and Rhanor Gillete (2011) 
    <em>Putative lateral inhibition in sensory processing for directional turns.</em> 
    J. Neurophysiol. pp2885–2890</a>)
    A nerve's activity level when touched simultaneously in two places was 
    roughly half of the 
    sum of the nerve's activity levels when touched in each of those places individually.
    This meant that the calculation of the mean position of the stimulus was being 
    performed direcly in the PNS, and comes to the CNS already encoded as an averaged
    location signal.
  </p>
  <p>
    This is noteworthy and surprising because neurons are primarily signal integrators,
    well-suited for simple functions like addition and subtraction but not multiplication
    and division. The calculation of a mean, by definition, requires performing a division 
    over the number of stimulus points, and thus implies the existence of nontrivial
    arrangements of neuronal structures. On the other hand, anatomical investigations into
    the <em>Pleurobranchaea</em>'s PNS indicate that the animal's wiring patterns can't be  
    exceptionally complex. The sensory neurons in the papillae must surely communicate
    directly with the LOVN and TN nerve fibers; or, at most, they could involve at most 
    one or two small interneurons, but such interneurons are highly unlikely to have 
    any connectivity beyond that of the papilla from which the sensory neuron originates.
  </p>
  <p>
    This apparent contradiction motivated the work constituting this project, resulting 
    in the model presented here.
  </p>
</div>  
