<div data-thumbclick="'img/method-qtips.png'" data-thumbclick-title="'Behavior'">
  <video playsinline="" controls="" poster="img/method-qtips.png" style="width:100%">
    <source src="img/2pt-method-closeup-360p.mp4" type="video/mp4">
  </video>
</div>

<div class="textholder-content nicescroll">
  <p>
    The video illustrates the behavior under study: averaging more than one sensory input in the 
    turn and bite/strike. Here we see that animal’s oral veil is being stimulated with two 
    cotton-tipped applicators dipped in shrimp juice. The turn and bite response are directed 
    <em>in between</em> the stimuli.    
  </p>
</div>  
