<div class="textholder-content nicescroll" style="width:100%">
  <p>
    The model, as proposed, is highly attractive because it explains observed behavior
    using known physiological structures while positing very few currently undiscovered
    components. It makes several predictions that strongly suggest directions for
    further research.
  </p>
  <ol>
    <li>
      The averaging circuitry is self-contained within each nerve, and is not dependent
      on crosstalk between the LOVN and TN. If, for example, the TN could be silenced
      or physically removed without destroying the specimen, the LOVN will still 
      exhibit location averaging of multi-touch stimuli.
    </li>
    <li>
      Because the number of large fibers is smaller than the number of papillae on each side of 
      the oral veil, we should observe discrete quantized drop-offs in total activity in each 
      nerve as we contact one papilla at a time. That is, this model posits that the animal 
      lacks resolving power fine enough to distinguish contact on one papilla from contact on 
      the papilla adjacent to it, if no nerve fibers terminate between them.
    </li>
    <li>
      As can be seen in the visualization, when both a near papilla and a far one are activated 
      simultaneously, the nerve representing the far one suppresses/overrides the nerves carrying
      activity from the near one. We should be able to see this in electrophysiological recordings.
    </li>
    <li>
      Once those GABAergic neurons in the PNS are identified, this model predicts that we will find
      that they interface directly with the nerve fibers in the LOVN and TN.
    </li>
  </ol>
</div>

