<div data-thumbclick="'img/bytryingital.jpg'">
  <video playsinline="" controls="" poster="img/bytryingital.jpg" style="width:100%">
    <source src="img/Pleurobranchaea-feeding-2.mp4" type="video/mp4">
  </video>
</div>


<p>
  The laboratory of Dr. Rhanor Gillette of the University of Illinois at Urbana-Champaign
  studies the Pacific sea slug <em>Pleurobranchaea californica</em>. This predatory invertebrate
  has a relatively simple nervous system, but nonetheless exhibits the ability to learn from
  experience. This makes it a compelling archetypal animal to study for an increased understanding
  of the physiological underpinnings of learning and memory.
</p>
<p>
  <em>Pleurobranchaea</em>, as a predator, makes value-based decisions that balance its need for 
  resource against its exposure to personal risk. These decisions arise from the interactions 
  between its motivations (e.g. its hunger level) and reward learning (i.e. its experience
  based on the results of past interactions with organisms bearing distinct odor signatures).
  The opportunistic forager tracks prey through current-borne odor plumes and substrate trail cues. 
</p>
<p>
  Previous research has shown that the animal's chemosensory oral veil (the anterior 
  cowcatcher-like structure) integrates multiple odor stimulus sites to send an averaged 
  "place code" to the central nervous system (CNS). 
  In other words, the specific location of a stimulus is transmitted to the slug's "brain"
  in the form of nerve activity levels, and multiple stimuli are encoded as the mean of 
  all component stimulus levels.
  This somatotopic map of odor source 
  provides a template for motor patterning in the approach-avoidance decisions of foraging.
  That is, it permits the animal to decide in which direction to turn, and how far.
</p>
<p>
  In the project presented here, we model the possible neuronal computations involved with 
  lateral inhibition, based on the partially known anatomy and physiology of the peripheral 
  nervous system.
</p>
