
<span class="image"
    style="float:left; background-image:url('img/pleurobranchaea-californica_tracy-clark.jpg')"></span>

<p>
  The laboratory of Dr. Rhanor Gillette of the University of Illinois at Urbana-Champaign
  studies the Pacific sea slug <em>Pleurobranchaea californica</em>. This predatory invertebrate
  has a relatively simple nervous system, but nonetheless exhibits the ability to learn from
  experience. This makes it a compelling archetypal animal to study for an increased understanding
  of the physiological underpinnings of learning and memory.
</p>
