<div class="textholder-content nicescroll" style="width:100%">
  <p>
    To explain the observed stimulus-averaging behavior, we constructed a computational model 
    that can be described in its entirety by the following principles:
    <ul>
      <li>
        The TN and LOVN contain  <strong>several discrete location-encoding fibers</strong>. 
        This is consistent
        with anatomical observations. We know from dissections that these nerves hold between
        10 to 20 large thick axons, alongside a few hundred very small ones. It appears to 
        be these thick axons that are primarily active when transmitting the location data 
        that forms the crux of these investigations.
      </li>
      <li>
        These fibers reach the oral veil at a common end, then travel together to the opposite 
        end, but <strong>terminate at different lengths</strong> along their run. For example, all of the LOVN 
        fibers reach the oral veil near the midline and then run laterally toward the tentacle;
        as they stretch toward the tentacle, they "drop out" at varying distances, such that 
        halfway to the tentacle only about half of the fibers are still continuing, and only 
        one or two fibers manage to complete the span. This, too, is consistent with 
        anatomical observations: the LOVN is very thick at the midline and tapers as it 
        stretches toward the tentacle, and Occam's Razor suggests that this tapering 
        is the result of containing fewer and fewer fibers.
      </li>
      <li>
        Each nerve fiber receives stimulation from the primary sensory neurons in the 
        <strong>papillae that it can physically reach</strong>. The longest fiber receives
        input from all papillae on its side of the slug; the shortest fiber might only 
        receive input from one or two papillae.
      </li>
      <li>
        Each fiber's <strong>sensitivity is inversely proportional to its length</strong>.
        Long fibers receive input from all papillae, but activity from only one papilla 
        doesn't increase the long fiber's own activity by much. Short fibers can only reach
        one or two papillae, but activity in those papillae results in a great deal of 
        activity in those fibers. Thus, if a papilla is reached by both a short and a long 
        fiber, the same activity in that papilla triggers much more excitement in the 
        short fiber than the long one; but on the other hand, long fibers have the ability 
        to integrate total activity from a much greater quantity of papillae. 
        Physiologically, this can be accounted for by imagining that each fiber can only 
        make or can only metabolically maintain a fixed number of receptor sites
        with which to receive stimulation from primary sensory neurons; short 
        fibers can concentrate these receptors in the few papillae that they can reach,
        but long fibers need to spread these receptors out over a physically longer span.
      </li>
      <li>
        The nerve fibers exhibit <strong>lateral inhibition</strong> among one another. 
        We don't currently know the exact structure or mechanism by which such lateral 
        inhibition would take place. However, it's likely to involve the release and 
        reception of the neurohormone GABA, owing to previous research that shows that
        direct application of GABA reduces total nerve activity levels. This would 
        implicate GABAergic interneurons in a supporting role. We've detected heavy GABA 
        activity in the PNS, so we know that such GABAergic interneurons must exist.
        It therefore introduces no new assumptions of heretofore undiscovered structures 
        to suggest that these GABAergic interneurons perform lateral inhibition among the 
        fibers of the efferent nerves.
      </li>
      <li>
        Due to the difference in fiber sensitivity, this <strong>lateral inhibition
        is asymmetric</strong>. Short fibers are more sensitive than long ones; ergo,
        long fibers are much more resistant to inhibition than short ones. A low-excited 
        long fiber could entirely shut down a fully excited short one; and likewise, 
        it takes several fully excited short fibers to shut down a long one (and, of course,
        the short fibers would likewise be shutting each other down at the same time).
      </li>
    </ul>
  </p>
  <p>
    This combination of assumptions results in a structure that exhibits the "averaging" operation
    observed in the research findings.
  </p>
  <p>
    The principle of operation of this model is as follows.
  </p>
  <p>
    When one site is stimulated near the nerve's sensitive zone
    (e.g. the midline for the LOVN, or the tentacle for the TN), all of the nerve's 
    fibers are activated. However, the short ones are much more active than the long ones.
    The highly active short fibers entirely drown out the lower-activity longer fibers. 
    They also try to drown out each other, but the winner of this lateral competition must 
    itself be a high-activity short fiber, so the result is high activity in the nerve.
  </p>
  <p>
    When one site is stimulated far from the nerve's sensitive zone, only the longest fibers 
    receive excitation. Because they are weakly receptive, the net activity in the nerve 
    is low.
  </p>
  <p>
    When both a near site <em>and</em> a far site are stimulated simultaneously, the short 
    fibers still only receive excitation from the near site, but the long fibers now receive 
    excitation from both the near contact and the far one. Their total activity is still low,
    but now it's enough to begin to drown out the shorter, more active fibers. The result 
    is a total level of nerve activity that is lower than what's seen during single near-site 
    stimulation, but higher than what's seen during single far-site stimulation &mdash;
    precisely what is observed in experimental results.
  </p>
</div>

