<div class="textholder-content nicescroll" style="width:100%">
  <p>
    The visualization widget on this page allows you to interact with the computational model
    and observe it in action.
  </p>
  <p>
    The interface depicts the LOVN nerve on the right side of the animal, as observed from 
    the dorsal perspective &mdash; i.e. above the animal, looking down, with the animal facing the 
    top of the screen. The left edge of the interface represents the animal's midline, while 
    the right side represents the right tentacle. Though this simulation only depicts the right 
    LOVN, it's meant to be assumed that we believe that all four efferent nerves &mdash;
    both the left and right LOVNs and also the left and right TNs &mdash; operate equivalently. 
  </p>
  <img src="img/model-explanation/papilla.png"
      style="float:right; width:30%; margin:1ex 1em;"/>
  <p>
    Along the top of the visualization, you can see frilly bumps that represent the 
    slug's papillae. If you click on one, you can simulate that papilla being touched 
    by a Q-tip soaked in shrimp juice, as seen in the video in the "Behavior" section.
    (Click on it again to cease the touch.)
  </p>
  <p>
    The long dark structures that run parallel to one another are, of course, the individual
    nerve fibers of the LOVN. On the left side of the visualization, they are depicted as running
    up from the slug's central nervous system in a bundle (i.e. the nerve). As they reach the 
    oral veil, they 
    bend rightward and then proceed to stretch toward the tentacle. They make it by different 
    lengths. The shortest fiber terminates after having reached just three papillae; while the 
    longest fiber manages to reach all of them, even the farthestmost one at the edge of the 
    tentacle.
  </p>
  <img src="img/model-explanation/papilla-fiber-junctions.png"
      style="float:right; width:30%; margin:1ex 1em;"/>
  <p>
    The balls under each papilla, situated upon the nerve fibers, represent the synaptic 
    connections between the primary sensory neurons in that papilla and the corresponding 
    nerve fiber. 
  </p>
</div>

