.neuromean-viz {
  position: relative;
}

.neuromean-viz .neuromean-viz-neural-network {
  background: #cc8;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.4), 
      rgba(0, 0, 0, 0.4)
    ),
    url('/img/58030158-dark-sand-texture-background.jpg') repeat;
}

.neuromean-viz-papilla {
  cursor: pointer;
}

.neuromean-viz .neuromean-viz-eeg {
  background: yellow;
  position: absolute;
  top: 60%;
  width: 25%;
  left: 20%;
}

.neuromean-viz .neuromean-viz-controls {
  background-color: rgba(0,0,0,.5);
  padding: 10px 20px;
  border-radius: 10px;
  white-space: nowrap;
  
  position: absolute;
  bottom: 5%;
  right: 5%;
  display: inline-block;
}
