.neuromean-viz {
  position: relative;
  background-color: #884;
  font-size: 0;
}

.neuromean-viz > *{
  font-size: 14px;
}

.neuromean-viz .neuromean-viz-neural-network {
  background: #cc8;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.4), 
      rgba(0, 0, 0, 0.4)
    ),
    url('/img/58030158-dark-sand-texture-background.jpg') repeat;
}

.neuromean-viz-papilla {
  cursor: pointer;
}

.neuromean-viz .neuromean-viz-eeg {
  background-image: url('/img/defib-paper.jpg');
  background-size: cover;
  
  position: absolute;
  bottom: 10px;
  width: 25%;
  left: 20%;
  
  border: 2px solid #444;
  border-radius: 10px;
  box-shadow: 2px 4px 8px 8px rgba(0,0,0,.3);
}

.neuromean-viz .neuromean-viz-eeg img {
  width: 10%;
  position: absolute;
  z-index: 10;
  right: 0;
  top: calc(50% - 5px);
  transition: top 5ms;
}

.neuromean-viz .neuromean-viz-eeg .readout {
  position: absolute;
  left: 10px;
  top: -1.6em;
  font-variant: small-caps;
  font-family: 'Courier New';
}
.neuromean-viz .neuromean-viz-eeg .readout .digital {
  font-weight: bold;
  display: inline-block;
  width: 6em;
  text-align: right;
  color: #f00;
  text-shadow: 1px 1px #a00;
  background: black;
  padding: 0 5px;
  border-radius: 4px;
  border: 1px solid #666;
}



.neuromean-viz .neuromean-viz-controls {
  background-color: rgba(0,0,0,.5);
  padding: 1ex 1em;
  border-radius: 10px;
  white-space: nowrap;
  
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: inline-block;
}

.neuromean-viz .neuromean-viz-controls table {
  margin: auto;
}

.neuromean-viz .neuromean-viz-controls table td input {
  padding: 0 10px;
}

.neuromean-viz .neuromean-viz-controls table .control-value {
  font-family: 'Courier New';
  font-weight: bold;
  text-align: right;
  color: #998;
}

/* --- MEDIA --- */

@media (max-width: 1200px) {
  .neuromean-viz > * {
    font-size: 10px;
  }
}

@media (max-width: 900px) and (min-aspect-ratio: 4/3) {
  .neuromean-viz .neuromean-viz-controls {
    position: relative;
    width: calc(100% - 10px);
    left: 5px;
    margin: 5px 0;
    bottom: 0;
  }
  .neuromean-viz .neuromean-viz-eeg {
    bottom: 12em;
    width: 25%;
    left: inherit;
    right: 20%;
  }
}