.neuromean-viz {
  position: relative;
}

.neuromean-viz .neuromean-viz-neural-network {
  background: #cc8;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.4), 
      rgba(0, 0, 0, 0.4)
    ),
    url('/img/58030158-dark-sand-texture-background.jpg') repeat;
}

.neuromean-viz-papilla {
  cursor: pointer;
}

.neuromean-viz .neuromean-viz-eeg {
  background-image: url('/img/defib-paper.jpg');
  background-size: cover;
  
  position: absolute;
  bottom: 5%;
  width: 25%;
  left: 20%;
  
  border: 2px solid #444;
  border-radius: 10px;
  box-shadow: 2px 4px 8px 8px rgba(0,0,0,.3);
}

.neuromean-viz .neuromean-viz-eeg img {
  width: 10%;
  position: absolute;
  z-index: 10;
  right: 0;
  top: calc(50% - 5px);
  transition: top 5ms;
}

.neuromean-viz .neuromean-viz-eeg .readout {
  position: absolute;
  left: 10px;
  top: -1.6em;
  font-variant: small-caps;
  font-family: 'Courier New';
}
.neuromean-viz .neuromean-viz-eeg .readout .digital {
  font-weight: bold;
  display: inline-block;
  width: 6em;
  text-align: right;
  text-shadow: 1px 1px #a00;
  background: black;
  color: #f00;
  padding: 0 5px;
  border-radius: 4px;
  border: 1px solid #666;
}



.neuromean-viz .neuromean-viz-controls {
  background-color: rgba(0,0,0,.5);
  padding: 10px 20px;
  border-radius: 10px;
  white-space: nowrap;
  
  position: absolute;
  bottom: 5%;
  right: 5%;
  display: inline-block;
}
