<div class="neuromean-viz">
  <svg 
      class="neuromean-viz-neural-network"
      viewbox="0 0 1000 350"
      preserveAspectRatio="xMidYMid meet"
    >
    
    <defs>
      <linearGradient id="fill_slugbody" x2="0%" y2="100%">
        <stop stop-color="#986" offset="10%" />
        <stop stop-color="#631" offset="80%" />
      </linearGradient>
      
      <linearGradient id="fill_papilla" x2="0%" y2="100%">
        <stop stop-color="#ccc" offset="10%" />
        <stop stop-color="#ffc" offset="20%" />
        <stop stop-color="#986" offset="80%" />
      </linearGradient>
      
      <radialGradient id="fill_sensory_junctions"
          cx="0.5" cy="0.5" r="0.5" fx="0.3" fy="0.3">
        <stop stop-color="#99a" offset="5%" />
        <stop stop-color="#446" offset="50%" />
      </radialGradient>    
      

      <filter id="dropshadow" x="0" y="0" width="200%" height="200%">
        <feOffset result="offOut" in="SourceAlpha" dx="10" dy="10" />
        <feGaussianBlur result="blurOut" in="offOut" stdDeviation="30" />
        <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
      </filter>
      
      <filter id="dropshadow-tiny" x="0" y="0" width="200%" height="200%">
        <feGaussianBlur in="SourceAlpha" stdDeviation="3"/> 
        <feOffset dx="1" dy="2" result="offsetblur"/>
        <feComponentTransfer>
          <feFuncA type="linear" slope="0.5"/>
        </feComponentTransfer>
        <feMerge> 
          <feMergeNode/>
          <feMergeNode in="SourceGraphic"/> 
        </feMerge>
      </filter>      
      

      <filter id="dummygray" x="0" y="0" width="200%" height="200%">
        <feColorMatrix type="matrix" in="SourceGraphic"
             values=".2 .1 .1 0 0 
                     .1 .2 .1 0 0 
                     .1 .1 .2 0 0 
                     0 0 0 1 0"/>
      </filter>

      <filter id="papillatouched" x="0" y="0" width="200%" height="200%">
        <feColorMatrix type="matrix" in="SourceGraphic"
             values="1 .2 .2 0 0 
                     0 .5 0 0 0 
                     0 0 .5 0 0 
                     0 0 0 1 0"/>
      </filter>
      

      <symbol id="figure_slugbody">
        <path
            fill="url(#fill_slugbody)"
            d="M-10,50 
               L950,50
               C1000,50 1000,130 950,175
               C825,300 800,250 950,350
               l-1000,0
               Z"
            />
      </symbol>
  
      <symbol id="figure_papilla">
        <path
            stroke="#642"
            stroke-width="2"
            fill="url(#fill_papilla)"
            d="M10,60
               l20,-30
               l0,-20
               l5,0
               l5,5
               l5,-5
               l5,0
               l0,20
               l20,30
               Z">
      </symbol>

      
    </defs>
    



    <g filter="url(#dropshadow)" class="neuromean-viz-svg-slugbody">
      <!-- dummy papillae -->
      <g filter="url(#dummygray)">
        <use href="#figure_papilla" 
            data-ng-repeat="papilla in papillae"
            data-ng-attr-x="{{200 - (papillae.length-papilla.index) * (700 / (numPapillae+1))}}" 
            y="0"
            class="neuromean-viz-dummy-papilla"
            ></use>
      </g>
      
      <!-- real papillae -->
      <use href="#figure_papilla" 
          data-ng-repeat="papilla in papillae"
          data-ng-attr-x="{{papilla.graphics.x}}" 
          y="0"
          class="neuromean-viz-papilla"
          data-ng-attr-filter="{{papilla.graphics.filter()}}"
          data-ng-click="papilla.isBeingTouched = !papilla.isBeingTouched"
          ></use>
      
      <!-- slug body -->
      <use href="#figure_slugbody"></use>
    </g>


    <g class="neuromean-viz-svg-nerve">
      <g>
        <path data-ng-repeat="nerveFiber in nerveFibers"
            stroke="#226" stroke-width="1" fill="#446"
            data-ng-attr-d="{{nerveFiber.graphics.path}}">
        </path>
        <path data-ng-repeat="nerveFiber in nerveFibers"
            stroke="rgba(255,128,128,.2)" stroke-width="1" fill="rgba(255,128,128,.8)"
            data-ng-attr-d="{{nerveFiber.graphics.path}}"
            data-ng-attr-opacity="{{nerveFiber.graphics.opacity()}}">
        </path>
      </g>
      
      <g data-ng-repeat="nerveFiber in nerveFibers">
        <g data-ng-repeat="papilla in papillae"
            data-ng-if="nerveFiber.canReachPapilla(papilla)">
          <circle
              data-ng-attr-cx="{{40 + papilla.graphics.x}}"
              data-ng-attr-cy="{{nerveFiber.graphics.y}}"
              data-ng-attr-r = "{{nerveFiber.graphics.r}}"
              stroke="#226"
              stroke-width=".5"
              fill="url(#fill_sensory_junctions)"
              data-ng-attr-filter="{{papilla.graphics.filter()}}"
              ></circle>
        </g>
      </g>
      
      <!-- Lateral inhibition crosshatch -->
      <g data-ng-repeat="nerveFiber in nerveFibers">
        <rect 
            stroke="#226" stroke-width="1" fill="#446"
            x="5" 
            data-ng-attr-y="{{198 + 10*nerveFiber.index}}"
            data-ng-attr-width="{{5 + nerveFibers.length*10}}"
            data-ng-attr-height="{{2 + 4*nerveFiber.suppressivePower}}"
            rx="2"
            ry="2"
            filter="url(#dropshadow-tiny)"
            ></rect>
        <rect 
            fill="rgba(255,128,128,.8)"
            data-ng-attr-opacity="{{nerveFiber.graphics.opacity()}}"
            x="5" 
            data-ng-attr-y="{{199 + 10*nerveFiber.index}}"
            data-ng-attr-width="{{5 + nerveFibers.length*10}}"
            data-ng-attr-height="{{.5 + 4*nerveFiber.suppressivePower}}"
            rx="2"
            ry="2"
            ></rect>

        <rect 
            fill="#446"
            data-ng-attr-x="{{10.5+10*nerveFiber.index}}" 
            data-ng-attr-y="{{197.5 + 10*nerveFiber.index}}"
            data-ng-attr-width="4"
            data-ng-attr-height="{{7 + 4*nerveFiber.suppressivePower}}"
            rx="2"
            ry="2"
            ></rect>
        <rect 
            fill="rgba(255,128,128,.8)"
            data-ng-attr-opacity="{{nerveFiber.graphics.opacity()}}"
            data-ng-attr-x="{{10.5+10*nerveFiber.index}}" 
            data-ng-attr-y="{{197.5 + 10*nerveFiber.index}}"
            data-ng-attr-width="4"
            data-ng-attr-height="{{7 + 4*nerveFiber.suppressivePower}}"
            rx="2"
            ry="2"
            ></rect>            
      </g>
    </g>    
  </svg>

  <div class="neuromean-viz-controls">
    <table>
      
      <tr>
        <td>
          <label>Papillae</label>
        </td>
        <td>
          <input type="range" min="7" max="30" class="slider"
              data-ng-model="numPapillae">
        </td>
        <td class="control-value">
          {{papillae.length}}
        </td>
      </tr>
      
      <tr>
        <td>
          <label>Nerve fibers</label>
        </td>
        <td>
          <input type="range" min="4" max="13" class="slider"
              data-ng-model="numNerveFibers">
        </td>
        <td class="control-value">
          {{numNerveFibers}}
        </td>
      </tr>

      <tr>
        <td>
          <label>Nerve fiber reach baseline (%)</label>
        </td>
        <td>
          <input type="range" min="1" max="100" class="slider"
              data-ng-model="baseReachPct">
        </td>
        <td class="control-value">
          {{baseReachPct}}
        </td>
      </tr>

      <tr>
        <td>
          <label>Nerve fiber sensitivity baseline (%)</label>
        </td>
        <td>
          <input type="range" min="1" max="100" class="slider"
              data-ng-model="baseSensitivityPct">
        </td>
        <td class="control-value">
          {{baseSensitivityPct}}
        </td>
      </tr>

      <tr>
        <td>
          <label>Nerve fiber sensitivity gradient (%)</label>
        </td>
        <td>
          <input type="range" min="1" max="100" class="slider"
              data-ng-model="sensitivityIncrementPct">
        </td>
        <td class="control-value">
          {{sensitivityIncrementPct}}
        </td>
      </tr>

      
    </table>
  </div>
  
  <div class="neuromean-viz-eeg">
    <svg
        viewbox="0 0 200 100"
        preserveAspectRatio="xMidYMid meet">
      <polyline 
          fill="none" 
          stroke="black"
          transform="translate(180,50) scale(-1,1)"
          data-ng-attr-points="{{getEEGPolylinePoints()}}"/>
    </svg>
    <img src="img/needle.png"></img>
    
    <div class="readout">
      <label>Total LOVN activity:</label>
      <span class="digital">{{getTotalOutputNerveActivity() * 20|number:2}} Hz</span>
    </div>
  </div>
  
  <div style="clear:both"></div>
</div>
