<div class="neuromean-viz">
  <svg 
      viewbox="0 0 1000 500"
      preserveAspectRatio="xMidYMid meet"
    >
    
    <defs>
      <linearGradient id="fill_slugbody" x2="0%" y2="100%">
        <stop stop-color="#986" offset="10%" />
        <stop stop-color="#631" offset="80%" />
      </linearGradient>
      
      <linearGradient id="fill_papilla" x2="0%" y2="100%">
        <stop stop-color="#ccc" offset="10%" />
        <stop stop-color="#ffc" offset="20%" />
        <stop stop-color="#986" offset="80%" />
      </linearGradient>    

      <filter id="dropshadow" x="0" y="0" width="200%" height="200%">
        <feOffset result="offOut" in="SourceAlpha" dx="10" dy="10" />
        <feGaussianBlur result="blurOut" in="offOut" stdDeviation="30" />
        <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
      </filter>

      <filter id="dummygray" x="0" y="0" width="200%" height="200%">
        <feColorMatrix type="matrix" in="SourceGraphic"
             values=".2 .1 .1 0 0 
                     .1 .2 .1 0 0 
                     .1 .1 .2 0 0 
                     1 1 1 0 0"/>
      </filter>

      <filter id="papillatouched" x="0" y="0" width="200%" height="200%">
        <feColorMatrix type="matrix" in="SourceGraphic"
             values="1 .2 .2 0 0 
                     0 .5 0 0 0 
                     0 0 .5 0 0 
                     1 1 1 0 0"/>
      </filter>
      

      <symbol id="figure_slugbody">
        <path
            fill="url(#fill_slugbody)"
            d="M-10,100 
               L950,100
               C1000,100 1000,180 950,200
               C600,300 800,300 900,510
               L800,510 
               L-10,500
               Z"
            />
      </symbol>
  
      <symbol id="figure_papilla">
        <path
            stroke="#642"
            stroke-width="2"
            fill="url(#fill_papilla)"
            d="M10,60
               l20,-30
               l0,-20
               l5,0
               l5,5
               l5,-5
               l5,0
               l0,20
               l20,30
               Z">
      </symbol>

      
    </defs>
    



    <g filter="url(#dropshadow)" class="neuromean-viz-svg-slugbody">
      <!-- dummy papillae -->
      <g filter="url(#dummygray)">
        <use href="#figure_papilla" 
            data-ng-repeat="papilla in papillae"
            data-ng-attr-x="{{200 - (papillae.length-papilla.index) * (700 / (numPapillae+1))}}" 
            y="50"
            class="neuromean-viz-dummy-papilla"
            ></use>
      </g>
      
      <!-- real papillae -->
      <use href="#figure_papilla" 
          data-ng-repeat="papilla in papillae"
          data-ng-attr-x="{{200 + (papilla.index) * (700 / (numPapillae+1))}}" 
          y="50"
          class="neuromean-viz-papilla"
          ng-attr-filter="{{papilla.isBeingTouched ? 'url(#papillatouched)' : ''}}"
          data-ng-click="papilla.isBeingTouched = !papilla.isBeingTouched"
          ></use>
      
      <!-- slug body -->
      <use href="#figure_slugbody"></use>
    </g>

    <g class="neuromean-viz-svg-nerve">
      <path data-ng-repeat="nerveFiber in nerveFibers"
          stroke="#226" stroke-width="1" fill="#446"
          data-ng-attr-d="{{nerveFiber.graphics.path()}}">
      </path>
    </g>    

  </svg>

  <div class="neuromean-viz-controls">
    <table>
      
      <tr>
        <td>
          <label>Papillae</label>
        </td>
        <td>
          <input type="range" min="7" max="30"
              data-ng-model="numPapillae">
        </td>
        <td>
          {{papillae.length}}
        </td>
      </tr>
      
      <tr>
        <td>
          <label>Nerve fibers</label>
        </td>
        <td>
          <input type="range" min="4" max="15"
              data-ng-model="numNerveFibers">
        </td>
        <td>
          {{numNerveFibers}}
        </td>
      </tr>
      
    </table>
  </div>
  
</div>
